
.overlay {
    opacity: 0;
    visibility: hidden;

    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background: rgba(0,0,0,0.42);
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
            transition: opacity 0.5s, visibility 0s 0.5s;
    
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.is-transparent {
    opacity: 0;
}

.modal-window{
    background: white;
    border-radius: 25px;
    width: 75%;
    height: 75%;

    padding: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-window__content{
    width: 100%;
    height: 100%;
}

.close-modal{
    float: right;
}
